.app-container {
  display: inherit;
}

.map-container {
  width: 100%;
  height: 60vh;
}

.info-container {
  background-color: white;
  border-right: none;
  padding: 0 20px;
}

.card-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
}

.card-chart {
  text-align: center;
}

.card-text {
  padding: 20px;
}

.logo {
  height: 70px;
  margin-top: 20px;
}

@media only screen and (min-width: 992px) {
  .app-container {
    display: flex;
    flex-direction: row;
  }

  .map-container {
    width: 65%;
    height: 100vh;
  }

  .info-container {
    background-color: #eceded;
    border-right: solid #d3d5d5;
    height: 100vh;
    overflow-y: scroll;
    position: static;
    width: 35%;
  }
}
